---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Docker-Distribution-Api-Version:
      - registry/2.0
    url: https://registry-1.docker.io/v2/
    method: GET
  response:
    body: |
      {"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io"
    status: 401 Unauthorized
    code: 401
